{{ $page := .root }}
{{ $section := .page }}

<h2>{{$section.Title}}</h2>

<p>{{$section.Content}}</p>

      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
  .gr_custom_container_1625317445 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    width: 300px
  }
  .gr_custom_header_1625317445 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
  }
  .gr_custom_each_container_1625317445 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1625317445 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1625317445 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1625317445 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1625317445 {
    /* customize your rating stars here */
    float: right;
  }
</style>

      <div id="gr_custom_widget_1625317445">
          <div class="gr_custom_container_1625317445">
    <h2 class="gr_custom_header_1625317445">
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/13060422-sudhendu?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Sudhendu&#39;s bookshelf: read</a>
    </h2>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="Start with Why: How Great Leaders Inspire Everyone to Take Action" rel="nofollow" href="https://www.goodreads.com/review/show/2786742114?utm_medium=api&amp;utm_source=custom_widget"><img alt="Start with Why: How Great Leaders Inspire Everyone to Take Action" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1360936414l/7108725._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2786742114?utm_medium=api&amp;utm_source=custom_widget">Start with Why: How Great Leaders Inspire Everyone to Take Action</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/3158574.Simon_Sinek">Simon Sinek</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="The 4-Hour Workweek" rel="nofollow" href="https://www.goodreads.com/review/show/2786160621?utm_medium=api&amp;utm_source=custom_widget"><img alt="The 4-Hour Workweek" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1442957271l/368593._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2786160621?utm_medium=api&amp;utm_source=custom_widget">The 4-Hour Workweek</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/210456.Timothy_Ferriss">Timothy Ferriss</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="The Power of Habit: Why We Do What We Do in Life and Business" rel="nofollow" href="https://www.goodreads.com/review/show/2786160459?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Power of Habit: Why We Do What We Do in Life and Business" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1545854312l/12609433._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2786160459?utm_medium=api&amp;utm_source=custom_widget">The Power of Habit: Why We Do What We Do in Life and Business</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/5201530.Charles_Duhigg">Charles Duhigg</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="Mythos: The Greek Myths Retold (Stephen Fry's Great Mythology, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/2758079003?utm_medium=api&amp;utm_source=custom_widget"><img alt="Mythos: The Greek Myths Retold" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1502518360l/35074096._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2758079003?utm_medium=api&amp;utm_source=custom_widget">Mythos: The Greek Myths Retold</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/10917.Stephen_Fry">Stephen Fry</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="The Tyranny of Metrics" rel="nofollow" href="https://www.goodreads.com/review/show/2758075374?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Tyranny of Metrics" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1511400900l/36644895._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2758075374?utm_medium=api&amp;utm_source=custom_widget">The Tyranny of Metrics</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/259761.Jerry_Z_Muller">Jerry Z. Muller</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="The Bed of Procrustes: Philosophical and Practical Aphorisms" rel="nofollow" href="https://www.goodreads.com/review/show/2758074984?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Bed of Procrustes: Philosophical and Practical Aphorisms" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320538208l/9402297._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2758074984?utm_medium=api&amp;utm_source=custom_widget">The Bed of Procrustes: Philosophical and Practical Aphorisms</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/21559.Nassim_Nicholas_Taleb">Nassim Nicholas Taleb</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="Other Minds: The Octopus, the Sea, and the Deep Origins of Consciousness" rel="nofollow" href="https://www.goodreads.com/review/show/2664551499?utm_medium=api&amp;utm_source=custom_widget"><img alt="Other Minds: The Octopus, the Sea, and the Deep Origins of Consciousness" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1606353700l/28116739._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2664551499?utm_medium=api&amp;utm_source=custom_widget">Other Minds: The Octopus, the Sea, and the Deep Origins of Consciousness</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/17976.Peter_Godfrey_Smith">Peter Godfrey-Smith</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="The Butterfly Effect" rel="nofollow" href="https://www.goodreads.com/review/show/2664546167?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Butterfly Effect" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1501291693l/35841729._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2664546167?utm_medium=api&amp;utm_source=custom_widget">The Butterfly Effect</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/1218.Jon_Ronson">Jon Ronson</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="In Praise of Idleness" rel="nofollow" href="https://www.goodreads.com/review/show/2591495439?utm_medium=api&amp;utm_source=custom_widget"><img alt="In Praise of Idleness" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1445246847l/27234355._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2591495439?utm_medium=api&amp;utm_source=custom_widget">In Praise of Idleness</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/17854.Bertrand_Russell">Bertrand Russell</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1625317445">
          <div class="gr_custom_book_container_1625317445">
            <a title="Tools of Titans" rel="nofollow" href="https://www.goodreads.com/review/show/2583043499?utm_medium=api&amp;utm_source=custom_widget"><img alt="Tools of Titans" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1475307042l/30820956._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_title_1625317445">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2583043499?utm_medium=api&amp;utm_source=custom_widget">Tools of Titans</a>
          </div>
          <div class="gr_custom_author_1625317445">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/210456.Timothy_Ferriss">Timothy Ferriss</a>
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Sudhendu, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/13060422.Sudhendu's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=10&order=d&shelf=read&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1625317445&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
